<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6b1cd2e6-d8e6-49ca-a30e-6fadad07a1c4/resourceGroups/customRG/providers/Microsoft.Web/sites/webapp-service-backend</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapp-service-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d353ae2f-65f7-4229-aa04-15ec6d81301e</ProjectGuid>
    <PublishUrl>https://webapp-service-backend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp-service-backend</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>